/* General */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f5f5f5;
}

h1, h2 {
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: black;
}

.signup {
    border: 1px solid black;
    padding: 5px 10px;
    border-radius: 5px;
}

/* Sección de imágenes destacadas */
.featured-images {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.featured-images img {
    border-radius: 10px;
    width: 400px;
    height: 233px;
    object-fit: cover;
    padding: 3px;
}

/* Sección principal */
.main-content {
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    padding: 50px;
    background-color: white;
}

.content-text {
    max-width: 50%; 
    text-align: left; 
    margin-right: 30px; 
}
.content-text h1 {
    font-size: 45px;
    margin-bottom: 20px;
}

.content-text p {
    margin-bottom: 20px;
}

.subscribe-btn {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.content-image {
    max-width: 40%;
}

.content-image img {
    border-radius: 10px;
    margin-left: 115px;
}

/* Redes sociales */
.social-media {
    text-align: center;
    padding: 40px;
    background-color: #f5f5f5;
}

.social-icons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.icon {
    width: 50px;
    height: 50px;
    background-color: black;
    margin: 0 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon img {
    width: 35px;
    height: 35px;
}


.texto_redes {
    margin-left: 150px;
    margin-right: 150px;
}
